<h2>
  Movie Editor
</h2>
<form action="/movies/{{movieSelected.id}}/update" method="POST">
  <label>
    Title
    <input type="text" name="title" value="{{movieSelected.title}}" />
  </label>
  <br />
  <label>
    Genre
    <input type="text" name="genre" value="{{movieSelected.genre}}" />
  </label>
  <br />
  <label>
    Plot
    <input type="text" name="plot" value="{{movieSelected.plot}}" />
  </label>
  <br />
  <label>
    Cast
    <select name="cast" multiple>
      {{#each allCelebritiesFromDB}}
      {{#if isInCast}}
      <option value="{{id}}" selected >{{name}}</option>
      {{else}}
      <option value="{{id}}">{{name}}</option>
      
      {{/if}}
      {{/each}}
    </select>
  </label>
  <br />
  <button type="submit">
    Edit
  </button>
  <br />
  <br />
</form>